/* ALGUMAS HISTÓRIAS */

.algumashistorias{
	width: 100%;
}

.algumashistorias-social{
	margin: 0px 0;
}

.algumashistorias-social a{
	color: #171717;
	font-size: 2.5em;
	margin: 0 10px;
}

.algumashistorias-social .fa-facebook:hover, 
.algumashistorias-social .fa-instagram:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);	
}

.algumashistorias-titu{
	color: #fff;
	background-color: #171717;
	padding: 5px 10px;
	border-radius: 7px;
	font-size: 1.4em;
	width: 280px;
	margin: 0 auto 20px auto;
}

.algumashistorias-cat{
	width: 100%;
	margin: 0 0 20px 0;
}

.algumashistorias-cat ul{
	margin: 0;
	padding: 0;
}

.algumashistorias-cat ul li{
	list-style: none;
}

.algumashistorias-cat ul li a{
	color: #171717;
	margin: 0 10px;
	font-size: 1.2em;
}


.algumashistorias-bar{
	width: 150px;
	margin: auto;
	background-color: #171717;
	height: 10px;
}





.historias{
	width: 100%;
	margin: 30px 0 0 0;
}

.historias01{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.historias01 img{
	margin: 0 0 10px 0;
}

.historias01-img001,
.historias01-img002,
.historias01-img003{
	width: 300px;
	height: 200px;
}

.historias02{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
}

.historias02 img{
	margin: 0 0 10px 0;
}


.historias-image{
	position: relative;
}


/* OVERLAY DAS IMAGENS MENORES */
.historias-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 96%;
	cursor: pointer;
	background-color: rgba(124,143,199,.8);	

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias-txt1, 
.historias-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
}

.historias-overlay:hover .historias-txt1, 
.historias-overlay:hover .historias-txt2{
	display: block;	
}

.historias-txt1{
	top: 37%;
	font-size: .8em
}


/* OVERLAY DA IMAGEM MAIOR */

.historias-overlay2{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 96%;
	cursor: pointer;
	background-color: rgba(124,143,199,.8);	

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay2:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias2-txt1, 
.historias2-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
}

.historias-overlay2:hover .historias2-txt1, 
.historias-overlay2:hover .historias2-txt2{
	display: block;	
}

.historias2-txt1{
	top: 37%;
	font-size: .8em
}





/*****************************/

.historias02{
	display: flex;
	flex-direction: column;
	align-items: center;
}

.historias02 img{
	margin: 0 0 10px 0;
}

.historias02 img:last-child{
	margin: 0;
}

.historias-image2{
	position: relative;	
	margin: 0 0 10px 0;
}



/* OVERLAY DA LATERAL */

.historias-overlay3{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 98%;
	background-color: rgba(124,143,199,.8);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay3{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(124,143,199,.8);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay3:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias3-txt1, 
.historias3-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
}

.historias-overlay3:hover .historias3-txt1, 
.historias-overlay3:hover .historias3-txt2{
	display: block;	
}

.historias3-txt1{
	top: 37%;
	font-size: .8em
}




/*SOBRE NÓS*/

.sobrenos-titu{
	color: #fff;
	background-color: #171717;
	padding: 5px 10px;
	border-radius: 7px;
	font-size: 1.3em;
	width: 280px;
	margin: 20px auto 30px auto;
}

.sobrenos-txt{
	padding: 20px 0;
	font-size: 1em;
}




/*INSTAGRAM*/

.instagram-titu{
	color: #fff;
	background-color: #171717;
	padding: 5px 10px;
	border-radius: 7px;
	font-size: 1.5em;
	width: 280px;
	margin: 20px auto 30px auto;
}


.instagram{
	width: 100%;
}

.instagram-hashtag{
	color: #171717;
	font-size: 1.4em;
	width: 250px;
	padding: 0 0 0 5px;
	margin: 0px auto 0 auto;
	/*border-left: 7px solid #171717;*/
}

.instagram-hashtag a{
	color: #C94D5E;
}

.instagram-line-feed{
	width: 100%;
	margin: 30px 0 0 0;
}





/**************************************************************************************************/
@media screen and (min-width: 720px) {


/* ALGUMAS HISTÓRIAS */

.algumashistorias{
	width: 100%;
}

.algumashistorias-social{
	margin: 20px 0;
}

.algumashistorias-social a{
	color: #171717;
	font-size: 2.5em;
	margin: 0 10px;
}

.algumashistorias-social .fa-facebook:hover, 
.algumashistorias-social .fa-instagram:hover{
    -webkit-transform: translateY(-5px);
    transform: translateY(-5px);	
}

.algumashistorias-titu{
	color: #fff;
	background-color: #171717;
	padding: 7px 10px;
	border-radius: 7px;
	font-size: 2.5em;
	width: 410px;
	margin: 0 auto 20px auto;
}

.algumashistorias-cat{
	width: 100%;
	margin: 0 0 20px 0;
}

.algumashistorias-cat ul{
	margin: 0;
	padding: 0;
}

.algumashistorias-cat ul li{
	list-style: none;
}

.algumashistorias-cat ul li a{
	color: #171717;
	margin: 0 10px;
	font-size: 1.1em;
}


.algumashistorias-bar{
	width: 150px;
	margin: auto;
	background-color: #171717;
	height: 10px;
}

.historias{
	width: 100%;
	margin: 40px 0;
}

.historias01{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: stretch;
}

.historias01 img{
	margin: 0 0 10px 0;
}

.historias01-img001{
	width: 372px;
	height: 244px;
}

.historias01-img002{
	width: 760px;
	height: 509px;
}

.historias01-img003{
	width: 535px;
	height: 355px;
}



.historias-image{
	position: relative;	
}


/* OVERLAY DAS IMAGENS MENORES */

.historias-overlay{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 96%;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias-txt1, 
.historias-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
	display: none;
}

.historias-overlay:hover .historias-txt1, 
.historias-overlay:hover .historias-txt2{
	display: block;	
}

.historias-txt1{
	top: 40%;
	font-size: .8em
}



/* OVERLAY DA IMAGEM MAIOR */

.historias-overlay2{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 96%;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay2{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 98%;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay2:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias2-txt1, 
.historias2-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
	display: none;
}

.historias-overlay2:hover .historias2-txt1, 
.historias-overlay2:hover .historias2-txt2{
	display: block;	
}

.historias2-txt1{
	top: 40%;
	font-size: .8em
}





/*****************************/

.historias02{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.historias02 img{
	margin: 0 0 53px 0;
}

.historias02 img:last-child{
	margin: 0;
}

.historias-image2{
	position: relative;	
	margin: 0 0 53px 0;
}



/* OVERLAY DA LATERAL */

.historias-overlay3{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 98%;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay3{
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: rgba(223,145,48,.0);		
	cursor: pointer;

    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease; 	
}

.historias-overlay3:hover{
	background-color: rgba(124,143,199,.8);	
}

.historias3-txt1, 
.historias3-txt2{
	position: absolute;
	z-index: 2;
	color: #fff;
	width: 100%;
	top: 50%;
	text-align: center;
	display: none;
}

.historias-overlay3:hover .historias3-txt1, 
.historias-overlay3:hover .historias3-txt2{
	display: block;	
}

.historias3-txt1{
	top: 40%;
	font-size: .8em
}





/*SOBRE NÓS*/

.sobrenos{
	width: 100%;
}

.sobrenos-titu{
	color: #fff;
	background-color: #171717;
	padding: 7px 10px;
	border-radius: 7px;
	font-size: 2.5em;
	width: 470px;
	margin: -30px auto 20px auto;
}

.sobrenos-image{
	background-color: #ccc;
}

.sobrenos-image img{
	float: left;
}

.sobrenos-txt{
	padding: 30px 0;
	font-size: 1.2em;
}





/*INSTAGRAM*/

.instagram{
	width: 100%;
	margin: 0 0 30px 0;
}

.instagram-titu{
	color: #fff;
	background-color: #171717;
	padding: 7px 10px;
	border-radius: 7px;
	font-size: 2.5em;
	width: 300px;
	margin: 100px auto 20px auto;
}

.instagram-hashtag{
	color: #171717;
	font-size: 1.5em;
	width: 250px;
	padding: 0 0 0 7px;
	margin: 0px auto 0 auto;
	/*border-left: 7px solid #171717;*/
}

.instagram-hashtag a{
	color: #C94D5E;
}

.instagram-line-feed{
	width: 100%;
	margin: 30px 0 0 0;
}






}